*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    background-color: gray;
}

header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 20%;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 80%;
}

.logo img{ 
    height: 80px;
    width: 100px;
    margin-top:5px ;
    margin-left: 10px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
}

header nav ul .profile_name{
    color: white;
    font-size: 18px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
}
nav ul li a:hover{
    color: crimson;
    background-color: black;
    border-radius: 15px;


}


header .menu_btn{
    font-size: 40px;
    color: white;
    display: none;
}

header #btn{
    display: none;
}

#wrapper{
    background-color: white;
    text-align: center;
    padding: 20px;
    border-radius: 10px;
    width: 1000px;
    margin: 50px auto;
}

#wrapper .profiles{
    display: flex;
    align-items: center;
    justify-content: center;
}

#wrapper .profile{
    width: 50%;
    height: 338px;
    margin: 50px 20px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    padding: 20px;
    justify-content: space-evenly;
}
#wrapper .profile .img{
    width: 40%
}

#wrapper .profile .img img{
    width: 185px;
    height: 187px;
    border-radius: 50%;
    border: 5px solid white;
}

#wrapper .profile .details{
    width: 60%;
    text-align: left;
    padding-left: 50px;
}

#wrapper .profile .details .progress{
    margin-top: 20px;
}

#wrapper .profile .details .tag{
    margin: 20px 0;

}

#wrapper .github{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: left;
}

#wrapper .github .img{
    width: 40%;

}

#wrapper .github .img img{
    max-width: 100%;
}

#wrapper .github .text{
    width: 60%;

}

#wrapper .github .text a{
    padding: 20px;
    background-color: red;
    border-radius: 8px;
    color: white;
    text-decoration: none;
    margin-top: 20px;
    display: inline-block;
}


@media screen and (max-width: 500px) {
    header .menu_btn{
        display: initial;
    }


    header .logo{
        width: 80%;
    }


    header nav{
        display: block;
        position: absolute;
        top: 100px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: blue;
        transition: 0.5s;
    }

    #btn:checked ~ nav{
        left: 0%;
    }

    

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li a{
        margin: 20px 0;
    }


    #wrapper{
        width: 90%;
    }

    #wrapper .profiles{
        display: block;
    }

    #wrapper .profiles .profile{
        width: 90%;
        margin: 20px auto;
        display: block;
        height: auto;
    }

    #wrapper .profiles .profile .img,
    #wrapper .profiles .profile .details{
        width: 100%;
        text-align: center;
    }

    #wrapper .profiles .profile .details{
        padding: 0;
    }


    #wrapper .github{
        display: block;
    }

    #wrapper .github .img,
    #wrapper .github .text{
        width: 100%;
        text-align: center;
    }

    #wrapper .github .text h1{
        font-size: 25px;
    }

    #wrapper .github .text{
        text-align: center;
    }

}


