*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}


body{
    background-color: gray;
}

#addProductsBtn{
    padding: 10px 10px;
    font-size: 20px;
    background-color: blue;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    position: fixed;
    top: 10px;
    right: 20px;
    cursor: pointer;
}

#newAdmin{
    padding: 10px 10px;
    font-size: 20px;
    background-color: green;
    color: white;
    border: none;
    border-radius: 8px;
    outline: none;
    position: fixed;
    top: 10px;
    right: 330px;
    cursor: pointer;
}

.mainLogout{
    position: fixed;
    top: 10px;
    right: 200px;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 8px;
}


form{
    width: 60%;
    background-color: white;
    padding: 5px;
    border-radius: 8px;
    position: absolute;
    top: -1200px;
    left: 50%;
    transform: translateX(-50%);
    transition: 0.5s linear;
    z-index: 10000;
}

form .head{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

form .head h1{
    display: inline-block;
}

form button{
    padding: 12px;
    background-color: red;
    color: white;
    border-radius: 10px;
    border: none;
    outline: none;
    cursor: pointer;
}

form button i{
    font-size: 12px;
}

form.expand{
    top: 20px;
}


form h1{
    text-transform: capitalize;
}

form input{
    width: 100%;
    height: 50px;
    outline: none;
    margin: 20px 0;
    font-size: 1.2rem;
    padding: 0 10px;
}

form .option{
    height: 50px;
    width: 100%;
    margin-bottom: 30px;
    outline: none;
    font-size: 1.2rem;
}

form .description{
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

form .description input{
    width: 47%;
    margin: 20px 10px;
}

form input[type="submit"]{
    background-color: blueviolet;
    color: white;
    transition: 0.5s linear;
    cursor: pointer;
    border: none;
}


form input[type="submit"]:hover{
    transform: translateY(-5px);
    box-shadow: 0 .5rem 1rem rgba(10, 0, 0, 0.534);
}

form input[type="submit"]:focus{
    transform: translateY(0);
}

form .logout{
    display: block;
    width: 100%;
    background-color: red;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    font-size: 1.2rem;
}

.products_list{
    width: 1000px;
    margin: 80px auto;
    background-color: white;
    padding: 8px;
    border-radius: 5px;
}

#iphone_list.blur{
    opacity: 0.5;
}

#computer_list.blur{
    opacity: 0.5;
}


.products_list .head{
    text-align: center;
}

.products_list .head h1{
    font-size: 40px;
    margin: 20px 0;
}

.products_list .head .welcome{
    font-size: 25px;
    text-transform: capitalize;
}

.products_list table tr a{
    color: white;
}