footer{
    background-color: black;
    margin: 0;
}
footer .apple{
    color: #f8f8f8;
    text-align:center;
    font-size: 50px;
    font-style: italic;
}
footer .dis{
    color: #f8f8f8;
    text-align:center;
    font-style: italic;
}
footer .clk{
    color: #8a2be2;
    text-align:center;
    font-style: italic;
}
footer ul{
    list-style-type: none;
    /* background-color: black; */
    text-align:center;
    font-style: italic;
    margin: 0;
}
footer li{ 
    color: white;
    display: inline-block;
    padding: 10px;
    margin: 0 15px;
}
footer ul li a{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    color: white !important; 
    border: 1px solid white;
    border-radius: 50%;
    height: 44px;
    width: 44px;
    font-size: 20px;
}


@media screen and (max-width: 500px) {
    footer .apple{
        font-size: 30px;
    }

    footer .dis{
        font-size: 20px;
    }

    footer .clk{
        font-size: 15px;
    }

    footer ul li{
        margin: 0;
    }
}
