*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}
body{
    /* background-color: aquamarine; */
    background-color: gainsboro;
}

html{
    scroll-behavior: smooth;
}

.title{
    font-size: 40px;
    text-align: center;
    color: black;
    margin-top: 50px;
    margin-bottom: 0;
}
header{
    background-color: black;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    width: 30%;
}
header nav{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 70%;
}

.logo img{ 
    height: 80px;
    width: 200px;
    margin-top:5px ;
    margin-left: 10px;
}

header nav ul{
    list-style-type: none;
    display: flex;
    align-items: center;
    margin: 0;
}

header nav ul .profile_name{
    color: white;
    font-size: 18px;
}

header nav ul li a{
    text-decoration: none;
    color: white;
    display: block;
    font-size: 20px;
    padding: 10px 20px;
}
nav ul li a:hover{
    color: crimson;
    background-color: black;
    border-radius: 15px;


}


header .menu_btn{
    font-size: 40px;
    color: white;
    display: none;
}

header #btn{
    display: none;
}

#cover{
    height: 80vh;
    width: 100%;
    background-image: url("../img/a.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}
#cover .blur{
    width: 100%;
    height: 80vh;
    background-color: rgba(0, 0, 0, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#cover h1{
    font-size: 70px;
    color: orangered;
}

#cover p{
    font-size: 25px;
    color: white;
}
#cover button{
    background-color: blue;
    border: none;
    outline: none;
    padding: 10px 20px;
    border-radius: 8px;
    color: white;
    cursor: pointer;
    transition: 0.5s;
}

#cover button:hover{
    background-color: rgb(9, 132, 139);
}



#products{
    padding: 30px 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

#products form{
    background-color: white;
    border-radius: 8px;
    padding: 10px;
    width: 22%;
    margin: 20px;
}

#products form .cards .product_name{
    margin: 8px 0;
    text-align: center;
    font-size: 30px;
}


#products form .cards .cards_img{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#products form .cards .cards_img img{
    width: 600px;
    height: 300px;
    transition: 0.5s;
}

#products form .cards .cards_img img:hover{
    transform: scale(1.2);
}

#products form .cards .cards_title .details{
    margin: 20px 0;
    text-align: center;
}

#products form .cards .price{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

#products form .cards .price h2{
    font-size: 30px;
    color: orangered;
}

#others{
    display: flex;
}

#others .left, #others .right{
    width: 50%;
}

#others .left .box{
    width: 95%;
    height: 150px;
    background-color: white;
    margin: 20px auto;
    border-radius: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
}

#others .left .box .left{
    width: 30%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#others .left .box .left img{
    width: 60%;
}

#others .left .box .right{
    width: 70%;
    align-items: flex-start;
}

#others .left .box .right h3{
    text-transform: capitalize;
    text-align: left;
}

#others .left .box .right p{
    text-align: justify;
}

#others .right{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#others .right img{
    width: 80%;
}











@media screen and (max-width: 500px) {
    header .menu_btn{
        display: initial;
    }


    header .logo{
        width: 80%;
    }


    header nav{
        display: block;
        position: absolute;
        top: 100px;
        left: -100%;
        width: 100%;
        height: 100vh;
        background-color: blue;
        transition: 0.5s;
    }

    #btn:checked ~ nav{
        left: 0%;
    }

    

    header nav ul{
        display: block;
        text-align: center;
    }

    header nav ul li a{
        margin: 20px 0;
    }


    #cover h1{
        text-align: center;
        font-size: 50px;
        margin: 20px;
    }

    #cover p{
        text-align: center;
    }

    #products form{
        display: block;
    }

    #products form{
        width: 90%;
    }

    #products form .cards{
        width: 90%;
        margin: 20px auto;
    }

    #products form .card_title p{
        color: orangered;
        font-weight: bold;
        margin-top: 30px;
    }


    #others{
        display: block;
    }

    #others .left, #others .right{
        margin: 20px auto;
        width: 100%;
    }

    #others .left .box{
        height: 220px;
    }

    
}
